@charset "utf-8";
/* CSS Document */
body{
	padding:0px;
	margin:0px;
	font-family: FONTNONGNAM;
}
#containner {
	width:960px;
	margin:auto;
	font-size:24px;
}
@font-face{
	font-family:"Siwalai";
	src:url(../../fonts/font2.ttf);	}
p {
  margin-top: 0 ;
  font-family:CharmNam;}
#main_container{
	height:340px;
	width:307px;
	margin:0px 340px;
}

#BodyContent{
	font-size:16px;
}
/* css กำหนดพื้นที่ของ div ข้อความเลื่อน   */
.containMarquee{
 	position:relative;
	top:100px;
	margin:auto;
	display:block;
	height:250px;
	border:none;
	overflow:hidden;
}
/* css กำหนดข้อความ สำหรับการทำ marquee  */
.obj_marquee{
	position:absolute;
	display:block;
	white-space:nowrap;
}
nav{
	font-size:16px;
}
nav ul li{
	width:120px;
}