body{
		margin:40px 0px;;
	padding:0px;
	font-family:FONTNONGNAM;
	
}
#container{
width:960px;
margin:auto;

}

#tum {
	height:360px;
	width:307px;
	float:left;
}
#bg1{
width:207px;
height:260px;
}

#bg1:hover{
 cursor: pointer; cursor: hand; }

#bg{
width:207px;
height:260px;
margin:40px 0px;
}
#bg:hover{
 cursor: pointer; cursor: hand; }

#information{
	font-size:26px;
}
#effect li{
	list-style:none;
}
#nick {
	float:right;
	height:360px;
	width:307px;
	border-radius:5px;
}