@charset "utf-8";
/* CSS Document */
#container{
	float:left;
	margin:0px 0px;
}
#tum {
	height:360px;
	width:307px;
	background:#000000;
	float:left;
}
#nick {
	height:360px;
	width:307px;
	background:#000000;
	margin:0px 400px;
	border-radius:5px;
}